--- 
title: A about page for you 
layout: base.njk 
---

<div class="container">
  <h1>About this is a page for you</h1>
  <p>
    It was made for you using HTML, CSS and JavaScritp. And served as a JAMStack
    site.
  </p>
</div>

{#  https://newsapi.org/v2/top-headlines\?country\=us\&apiKey\=c0476891b19048a3889de6ffdd04df31 #}